@font-face{
   font-family:"Montserrat";
   src: url("../fonts/Montserrat.ttf");
}

*{
   box-sizing: border-box;
}
.body{
   margin: 0;
   background-repeat: no-repeat;
   width:1440px;
   Height:823px;
   position: absolute;
   margin: 0;
}
.image{
   position: absolute;
   height: 823px;
}
.h1{
   color:#252B42;
   position: absolute;
   margin-top: 260px;
   margin-left: 190px;
   width: 693px;
   font-weight: 800;
   line-height: 80px;
   font-size: 58px;
   font-family: Montserrat;
}
.h4{
   color: #737373;
   font-weight: 500;
   font-size: 20px;
   line-height: 30px;
   position: absolute;
   margin-top: 530px;
   margin-left: 190px;
   font-family: Montserrat;
}
.container1{
   background-color: #00A0C1;
   width: 185px;
   height: 48px;
   display: flex;
   flex-direction: column; 
   align-items: center;
   padding: 10px 36px;
   border-radius: 37px;
   position: absolute;
   margin-top: 620px;
   margin-left: 190px;
   
   
}
.container2{
   color: #00A0C1; 
   position: absolute;
   margin-top:620px;
   margin-left: 390px;
   border-radius: 37px;
   border-color: #00A0C1;
   width: 185px;
   height: 48px;
   display: flex;
   flex-direction: column; 
   align-items: center;
   padding: 10px 36px;
   border:1px solid #00A0C1;
   
}
.box{
   width: 328px;
   height: 619px;
   background: #FFFFFF;
   border-radius: 10px;
   position: absolute;
   margin-left: 750px;
   margin-top: 120px;
}
.name{
  Width:245px;
  Height:50px;
  position: absolute;
  margin-left: 790px;
  margin-top: 265px;
  background: #F9F9F9; 
  border-radius: 5px;
  border: 1px solid #BDBDBD;
  font-family: Montserrat;

}
.email{
   Width:245px;
  Height:50px;
  position: absolute;
  margin-left:  790px;
  margin-top: 355px;
  background: #F9F9F9; 
  border-radius: 5px;
  border: 1px solid #BDBDBD;
  font-family: Montserrat;
}


.box2{
   background: #FFA62B;
   border-radius: 5px;
   width: 248px;
   height: 58px;
   position: absolute;
   margin-top: 640;
   margin-left: 790px;
}
.h3{
   width: 233px;
   color: #252B42;
   font-size: 24px;
   line-height: 32px;
   position: absolute;
   margin-left: 790px;
   margin-top: 170px;
   font-weight: 700;
   font-family: Montserrat;
}
.p1{
   font-size: 14px;
   line-height: 24px;
   color: #252B42;
   position: absolute;
   width: 50px;
   margin-left: 790px;
   margin-top: 235;
   font-weight: 600;
   font-family: Montserrat;
}
.p2{
   font-size: 14px;
   line-height: 24px;
   color: #252B42;
   position: absolute;
   width: 50px;
   margin-left: 790px;
   margin-top: 325;
   font-weight: 600;
   font-family: Montserrat;
}
.p3{
   font-size: 14px;
   line-height: 24px;
   color: #252B42;
   position: absolute;
   width: 50px;
   margin-left: 790px;
   margin-top: 415;
   font-weight: 600;
   font-family: Montserrat;
}
.p4{
   font-size: 14px;
   line-height: 24px;
   color: #252B42;
   position: absolute;
   width: 50px;
   margin-left: 790px;
   margin-top: 505;
   font-weight: 600;
   font-family: Montserrat;
}
.p5{
   width: 138px;
   font-weight: 700;
   font-size: 14px;
   line-height: 28px;
   color: #FFFFFF;
   margin-top: 655;
   margin-left: 850px;
   position: absolute;
   font-family: Montserrat;
}
.p6{
   font-weight: 700;
   font-size: 14px;
   line-height: 28px;
   color: #FFFFFF;
   width: 113px;
   position: absolute;
   margin-top: 630px;
   margin-left: 230px;
   font-family: Montserrat;
}
.p7{
   font-weight: 700;
   font-size: 14px;
   line-height: 28px;
   color: #00A0C1;
   position: absolute;
   margin-top: 630px;
   margin-left: 440px;
   width: 82px;
   font-family: Montserrat;
}
.department{
   font-size: 0.9rem;
   padding: 2px 5px;
   border: none;
   position: absolute;
   color: #737373;
   background:none;
   margin-top: 445px;
   margin-left: 790px;
   Width:245px;
   Height:50px;
   border-radius: 5px;
   border: 1px solid #BDBDBD;
   background-color: #F9F9F9;
}
   .time{
   font-size: 0.9rem;
   padding: 2px 5px;
   border: none;
   color: #737373;
   background:none;
   Width:245px;
   Height:50px;
   position: absolute;
   margin-left:  790px;
   margin-top: 535px;
   background: #F9F9F9; 
   border-radius: 5px;
   border: 1px solid #BDBDBD;
 
}



   


   

   





